/*conten voi header cach 60px*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#content{
    overflow: hidden;
}
.cangiua{
    margin-left: 50%;
    transform: translate(-50%,0);
}
.mg-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-16{
    margin-top: 1rem;
}
.ml-8{
    margin-left: 0.5rem;
}
.mr-8{
    margin-right: 8px;
}
.mb-40{
    margin-bottom: 40px;
}
.rise{
    z-index: 1;
    position: relative;
}
.bg-a{
    width: 100%;
    height: 100%;
    position: absolute;
}
.c-reverse{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
#header{
    position: relative;
    z-index: 1;
}

#header .icon{
    margin-top: 0.625rem;
    width: 7.8125rem;
    height: auto;
}
#header .nav{
    margin-left: 5%;
    margin-top: 0.75rem;
    width: 20.9375rem;
    height: 2rem;
}
#header .nav li {
    display: inline-block;
    padding: 6px 9px;
    
    
}
#header .nav li a{
    text-decoration: none;
    color: #fff;
    padding: auto;
}
#header .nav li:hover{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}
#header .btn-acc{
    display: flex;
}
#header .account{
    text-align: center;
    border-radius: 10px;
    max-width: 132px;
    height: 44px;
    border: 0px;
}
#header .accounta{
    background: #fff;
    width: 117px;
    height: 44px;
    
    
}
#header .btn-acc button{
   margin-right: 6px; 
}

#header .btn-acc .account-a a{
    color:  rgba(0, 0, 0, 0.7); 
    text-decoration: none;
    padding: 14.699px 25px;
}

#header .account-b{
    background: #F7B731;
    max-width:134px;
    height: 44px;
}
#header .account-b a{
    text-decoration: none;
    color: #fff;
    padding:14.67px 15px;
}
#header .btn-acc button:hover{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#header .all{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    display:inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
#header .icon-header{
    display: flex;
}


#content{
    position: relative;
    margin-top: -78px;   
    
}
#content .background{
    background: url(./background/small-letter.png);
    border-radius: 0px 0px 80px 80px;
    width: 100%;
    height: 49rem;
}
#content .contenta{
    position: absolute;
    width: 100%;
    top:128px;
    display: flex;
    flex-direction: column;
}
#content .header-content{
    max-width: 800px;
    min-height: 122px;
    font-weight: 600;
    font-size: 66px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
#content .body-content{
    max-width: 539px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #F8F8F8;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 12px;
}
#content .download{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#content .appstore{
    margin-right: 12px;
}
#content .chplay{
    margin-left: 12px;
}
#content .download button{
    display: flex;
    max-width: 154px;
    padding: 5px;
    height: 48px;
    border-radius: 8px;
    border: 0;
}
#content .download button:hover{
    cursor: pointer;
}
#content .app a{
    display: flex;
    justify-content: space-around;
}

#content .content-btn{
    color: #000;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    
}
#content .download a{
    text-decoration: none;
}


#content .name-btn{
    
    height: 16px;
    font-weight: 700;
    font-size: 17px;
}
#content .three-mobile{
    width: 100%;
}
#content .app:hover{
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#content .head-text{
    line-height: 18px;
    size:18px;
    text-align: center;
    color: #666;
    font-weight: 400;
    margin-top: 60px;
}
#content .logo{
    width:80%;
    margin-top: 10px;
    margin-left: 10%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#content .logo a:hover img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
#content .background-a{
    margin-top: 150px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#content .background-1{
    width: 100%;
    position: absolute;
}
#content .container{
    z-index: 1;
    display: flex;
    justify-content: space-around;
}
#content .container-b{
    margin-top: 65px;
    flex-direction: row-reverse;
}
#content .container-a{
    margin-top: 30px;
    margin-bottom: 65px;
}
#content .img-bg{
    width: 470px;
    height: 358px;
}
#content .img-a{
    width: 40%;
}
#content .content-bg{
    margin-top: 15%;
}
#content .header-bg{
    max-width: 330px;
    font-family: 'Clash Grotesk';
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #000;
}
#content .body-bg{
    max-width: 300px;
    font-weight: 400;
    line-height: 25px;
    color: #666;
    margin-bottom: 50px;
}
#content .icon-chk{
    width: 14px;
    height: 14px;
}
#content .conten-chk{
    color: #474747;
    font-weight: 500;
    line-height: 14px;
    font-size: 14px;
    margin-left: 5px;
}
#content .chk-icon{
    margin-top: 10px;
    display: flex;
}
#content .line{
    height: 0px;
    border: 1px solid #888888;
    width: 300px;
}

#content .background-b{
    margin-top: 150px;
    width: 100%;
    padding: 20px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#content .stt{
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 30;
    line-height: 46px;

}
#content .head-content-a{
    color: #fff;
    font-size: 22px;
    

}
#content .container-bg-a{
    display: flex;
    margin-top: 40px;
}
#content .head-a{
    color: #fff;
    margin-top: 60px;
}
#content .background-b video{
    margin-top: 60px;
    width: 45%;
    height: 60%;
}

#content .img-img{
    width: 60%;
    height: auto;
}
#content .border-container{
    display: inline-block;
}

#content .container-2{
    margin-top: 46px;
    flex: 1;
}
#content .border-container{
    display: inline-flex;
}
.bg-11{
    background: url(./background/BG-2.png);
    padding-bottom: 20px;
    border-radius: 20px;
}
.bg-12{
    background: url(./background/BG.png) no-repeat;
    border-radius: 20px 20px 20px 20px;
    background-size: cover;
}
.bg-13{
    background: url(./background/See\ your\ work\,\ your\ way..png);
    border-radius: 20px;
}
.bg-14{
    background: url(./background/BG\ \(1\).png);
    border-radius: 20px;
    background-size: cover;
}

#content .container-q{
    border: 3px solid #E8E8E8;
    border-radius: 20px;
    flex: 1;
}
#content .name{
    font-size: 23px;
    line-height: 23px;
    font-weight: 500;
}
#content .body-name{
    font-size: 14px;
    line-height: 16px;
    max-width: 180px;
    color:#666;
    margin-top: 8px;
}
#content .container-q ul{
    margin-top: 20px;
}
#content .container-q li{
    font-size: 14px;
    list-style: none;
    color: #666;
    line-height: 20px;
}
#content .container-q img{
    margin-right: 6px;

}
#content .money{
    color: #46AAF2;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    margin-top: 20px;
}
#content .textt{
    margin-top: 6px;
    color: #888;
}
#content .container-q button{
    padding: 10px;
    width: 80%;
    box-shadow: 0px 10px 20px rgba(230, 126, 217, 0.18);
    border-radius: 10px;
    border: 0px;
    margin-top: 15px;
}
.ml-16{
    margin-left: 16px;
}
.mr-16{
    margin-right: 16px;
}

#footer{
    background-color:#ccc ;
}
.mt-x{
    margin-top: 60px;
}
.mt-20{
    margin-top: 25px;
}
.margin{
    margin-left: 15%;
}
#content .container-q button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 10px 20px rgba(70, 170, 242, 0.18);
}

#footer .body-bg{
    font-weight: 400;
    line-height: 25px;
    color: #666;
    margin-bottom: 50px;
}
#footer .text-18{
    font-size: 18px;
    font-weight: 500;
}
#footer .content-f{
    width: 80%;
    margin-left: 10%;
}
#footer .boder-f{
    display: flex;
}
#footer .boder-f li{
    list-style: none;
}
.flex_a{
    flex:3;
}
#footer .list{
    flex:7;
    display: flex;
    justify-content: space-between;
}
#footer .boder-bottom{
    display: flex;
    justify-content: space-between;
}
#footer .link1,
#footer .link{
    text-decoration: none;
    color: #666;
}
#footer .link p:hover{
    color: #000;
    text-decoration-line: underline;
}
#footer .link:hover{
    color: #000;
    text-decoration-line: underline;
}
#footer .boder-bottom a img:hover{
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
}
.mt-170{
    margin-top: 170px;
}
.w-300{
    max-width: 300px;
}
.none-a{
    display: none;
}
#content .bordere{
    padding:0px 10%;
}
#content .boder-img{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -260px;
}
.chose{
    width: 70%;
    height: 40px;
    border:1px solid black;
    display: none;
    border-radius: 10px;
    margin-bottom: 30px;
}
#content .chose button{
    width: calc(100%/3);
    border-radius: 10px;
}








